In [110]:
import pandas as pd
from pathlib import Path

In [111]:
db_folder = Path('database_1')
cols = ['email', 'movie', 'date', 'rating']
email = 'donald.trump@whitehouse.gov'

## Exercise 1.1

In [112]:
anon_df = pd.read_csv(db_folder / 'com402-1.csv', header=None, names=cols)
imdb_df = pd.read_csv(db_folder / 'imdb-1.csv', header=None, names=cols)

In [113]:
unique_imdb_pairs = imdb_df.drop_duplicates(subset=['date', 'rating'])

In [114]:
anon_df.head()

,email,movie,date,rating
0,494efac1114ffdefce62052ef709c4285deb1df36bc3b8...,0587157b665e019b1b664b4f01b751058b4bd9d843d73d...,01/01/05,3
1,39d3e5e89fe262c39f0d35e5269c33a636b27f6744e879...,dbfa47ce2ccb1845d254e37997865f78d19c0630dedf68...,01/01/05,3
2,bdf3e4e9e7b46597d5047ea1178cdf20b72d8914171a40...,c95526d142c01b6ecf96726171f7c47118857dcc942e48...,01/01/07,2
3,cd024366841e6804a2f51d8128b4fa0052edd3f916a6ba...,0587157b665e019b1b664b4f01b751058b4bd9d843d73d...,01/01/10,2
4,bdf3e4e9e7b46597d5047ea1178cdf20b72d8914171a40...,eadaf08ffcef69b53b356582c081ae03f31b74a014cb96...,01/01/11,4

In [115]:
imdb_df.head()

                             email          movie      date  rating
0        emile.adam-becker@epfl.ch  The Godfather  01/01/05       3
1  jacqueline.lebon-pascal@epfl.ch   12 Angry Men  01/01/05       3
2            astrid.faivre@epfl.ch  The Godfather  01/01/10       2
3            thierry.fabre@epfl.ch  Seven Samurai  01/01/11       4
4             remy.lombard@epfl.ch       Rashomon  01/01/15       2

In [116]:
matched_pairs = imdb_df.merge(anon_df, on=['date', 'rating'], how='inner')
movie_mappings = {movie_y: movie_x for movie_y, movie_x in zip(matched_pairs.movie_y, matched_pairs.movie_x)}

In [117]:
donald = imdb_df[imdb_df['email'] == email]
donald

                           email               movie      date  rating
24   donald.trump@whitehouse.gov        Pulp Fiction  01/07/13       1
328  donald.trump@whitehouse.gov  North by Northwest  09/09/11       4
803  donald.trump@whitehouse.gov         Tokyo Story  25/03/06       3
852  donald.trump@whitehouse.gov     The Dark Knight  26/10/06       5
969  donald.trump@whitehouse.gov        12 Angry Men  30/09/09       1

In [118]:
imdb_users = imdb_df.groupby('email')

In [119]:
anon_users = anon_df.groupby('email')

In [122]:
def compute_recall(anons_data, donalds_data, cols=['date', 'rating']):

    anons_data = {tuple(vals) for _, vals in anons_data[cols].iterrows()}
    n_hits = 0
    movie_mapping = {}
    for i, (_, vals) in enumerate(donalds_data[cols].iterrows()):
        if tuple(vals) in anons_data:
            n_hits += 1
    return n_hits / len(donalds_data)

In [123]:

for _, anon in anon_users:
    rec = compute_recall(anon, donald)
    if rec == 1:
        donalds_netflix_ratings = anon
        display(anon)
        break

,email,movie,date,rating
46,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,89a3133c6b0c8c7444d06e4f6633fad23f7499f8477b36...,01/07/13,1
588,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,b1781fa4d9ddcf6625a59e77fb7ce5f09388c584626bcd...,09/04/07,5
622,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,7a10784ffea2fdb9892f8dbb38c69313842be39ec1c24a...,09/09/11,4
712,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,12cb45bf6fd2de4673637f5b9aca340b6a1dcb88f01b3f...,11/01/01,5
730,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,eadaf08ffcef69b53b356582c081ae03f31b74a014cb96...,11/04/02,2
747,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,16c7385fe27eeea39a549a9b4fde719ba56b783a0268bb...,11/06/15,3
1260,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,1a49095622ecfbb4252c13b3993a9cc6898e80509bdf5e...,19/11/07,1
1583,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,c635f1d896da50b1e61f1dc49a343007dca72ae1f0a18c...,25/03/06,3
1692,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,35c12cc561d7b6db94498f8d32c3c8e9a1bb6cebc28c7e...,26/10/06,5
1946,46e035a7ef72c29d60e621bbfa76c873491af5320892b8...,dbfa47ce2ccb1845d254e37997865f78d19c0630dedf68...,30/09/09,1

In [70]:
for movie, rating in zip(donalds_netflix_ratings.movie, donalds_netflix_ratings.rating):
    print(f'{movie}: {movie_mappings[movie]}, rating: {rating}')

89a3133c6b0c8c7444d06e4f6633fad23f7499f8477b3663919de8bd1b97db16: Pulp Fiction, rating: 1
b1781fa4d9ddcf6625a59e77fb7ce5f09388c584626bcd4f1e48e8293b248f51: Once Upon a Time in the West, rating: 5
7a10784ffea2fdb9892f8dbb38c69313842be39ec1c24a0a790169999901723f: North by Northwest, rating: 4
12cb45bf6fd2de4673637f5b9aca340b6a1dcb88f01b3ff76ea8e47b486c2ed7: Raiders of the Lost Ark, rating: 5
eadaf08ffcef69b53b356582c081ae03f31b74a014cb96eb02af7817891e693e: Seven Samurai, rating: 2
16c7385fe27eeea39a549a9b4fde719ba56b783a0268bbe10ba73b6dd5492de6: Modern Times, rating: 3
1a49095622ecfbb4252c13b3993a9cc6898e80509bdf5e03bc04e4ad27062bbc: The Shawshank Redemption, rating: 1
c635f1d896da50b1e61f1dc49a343007dca72ae1f0a18caca0a6f2871f58147d: Tokyo Story, rating: 3
35c12cc561d7b6db94498f8d32c3c8e9a1bb6cebc28c7e4d012754e799789561: The Dark Knight, rating: 5
dbfa47ce2ccb1845d254e37997865f78d19c0630dedf68d62d53365b16f0e7d0: 12 Angry Men, rating: 1

## Exercise 1.2

In [272]:
anon_df = pd.read_csv(db_folder / 'com402-2.csv', header=None, names=cols)
imdb_df = pd.read_csv(db_folder / 'imdb-2.csv', header=None, names=cols)

In [273]:
def extract_movie_stats(df):
    stats = df[['movie', 'rating']].groupby(by='movie').agg({'rating': ['count', 'mean']}).reset_index()
    stats = stats.droplevel(0, axis=1)
    stats.rename(columns={'count': 'review_count', 'mean': 'rating_mean', '': 'movie'}, inplace=True)
    stats['review_share'] = stats['review_count'] / len(df)
    stats['rating_mean'] /= stats['rating_mean'].max()
    stats.sort_values(by='review_share', inplace=True)
    return stats

In [274]:
anon_movie_stats = extract_movie_stats(anon_df)
imdb_movie_stats = extract_movie_stats(imdb_df)

In [275]:
movie_mapping = {k:v for k, v in zip(anon_movie_stats.movie, imdb_movie_stats.movie)}
movie_mapping

{'783856300895478a0d403de4014ac6e6fefa76f6a325337743ae01a1a78d3797': 'The Wages of Fear',
 '0b61e5a73388407f2c06df41b8a3b7b7bb045210b715c3d2225ceece45ef8d0e': 'North by Northwest',
 '43e0ea20a1ba5d970968ea1ba0379db2e7800cca38c0a6c5afd9a897c45d1eb9': 'Raging Bull',
 '8ea298a0417b7418d927cdb8356aca7f934c106cd80fb7524344da96527b6df1': "It's a Wonderful Life",
 '0c7dfd2ba19c20a67c1837b3a032d6b51dc2416cec79c04c239caee221638abf': '2001: A Space Odyssey',
 'c5d5fdf8a0ba028f32a50100b21274ebc1725b396bc4bb141850dc64693878f9': 'Sunrise',
 '0cc432f88c6d92d7403fb6a9b45ac0ac03ba309afc45c4f1a613dd55570ae5fb': 'Ikiru',
 'c97df2e01eebfa01d1400abe76185d1e1dcc7194cd00a84b3f93b48a339c3549': 'The Night of the Hunter',
 'fb2eca1e68c4cb64caf4c0b80a3512b3172905d6764e7a20ad647db19198dc13': 'Double Indemnity',
 '3ec0d557481d69a91fc4f26a1d07fb50d8bc4ee3e029de3260fa20f9e5a00769': 'Paths of Glory',
 'a13ae4c8f4a420aba62e68187b713b0bda542437215f973a72ebf40b6e09ed6b': 'Fanny and Alexander',
 '9d770cbca5c5f6792676c5dd4875eb8aea7c43d5b43f5eec87c7bbf3bfa96536': 'Metropolis',
 'd26a39a3aa01e0f50657a0d8b3ceb7b1fbb80c0f420ae261b790e1e20f776ad6': 'The 400 Blows',
 'aa4a601effdceedc15f46512d54c63a2713f1f8506e3ae03579df36dfd32b46f': 'Chinatown',
 'b7123f0d5a76079033bb417de6d9bc4efbc077dd9f1d58531c37990756028f06': 'The Dark Knight',
 '82aba494c180292607533eac65d3fdc719c35342e140739501bab492e661b693': 'Raiders of the Lost Ark',
 '86086423970cd6189e26b721047b915796ff7911001a0cd6ca9d624cbba92fc8': "Singin' in the Rain",
 'f5a702bb109775e6a81f097e6e15d9dac383d4f571b4dd530aac16a6ad06c490': 'Star Wars: Episode IV - A New Hope',
 'd3624def3ed8f49868cfdde6bf12c5c9afb831b2f302c8842c4ec6af1e8f085e': 'On the Waterfront',
 '76a41893b43028208e3f972abb0600dc745ebd77998601d78fa772626dbef6e0': 'Star Wars: Episode V - The Empire Strikes Back',
 '7e3d9904a79d1c1b093653da62cb8355317c98dc7dd958f71fa7e25b2bec709e': 'Once Upon a Time in the West',
 'be98f03c1e60d4a53bb8ba4d7a7292a50e0f504a74c8a64c166776696be3ab66': 'The Third Man',
 '5a2c7e0871822485e0c7b5098504cfe4a8b481512b8319917ba8fb5aacf09084': "One Flew Over the Cuckoo's Nest",
 '8c05ffbfb538c7e868c9a9bc77d23c8a264e8869dc0a9ce74f231d6d5d8f972b': 'Psycho',
 '229d0263028ec78469fbfd1f82d875b9d39fa25c415da1d6dfaaf263ed9a88f8': 'Rashomon',
 '550bb5d9e51c4763697a259174547bb2aad073229578fa366f757050d9b2914c': 'Taxi Driver',
 '61519fcc56b0d8ac6dad33c4f160b62b18c50ffde10ca97157869c8847900bec': 'Bicycle Thieves',
 '49b1899cbfb40d7a11a30c5e062ddd462b5d7fc85f62a53c8a41572553e71e08': 'Vertigo',
 '7d7bde2b4de41bfc00566677c7c6b2dc32232f9a26b282e6cc145e136084002e': 'Citizen Kane',
 'c96e7ced7eae6cfa323dc6988f015227ae7cd085817c77f7f50e1246cad7ef20': 'Rear Window',
 'ee3a9352b6ca9d86b5694549cc8b10cd11398149c1569958c06bff446765060a': 'The Shawshank Redemption',
 'adb8cc889e291b26cd22e114947706013d25f34aac598f4e4a2c047b290de632': 'Casablanca',
 '99df10296b0d61d5b134163e4bd9f392652e323d0c8d84bda42a33e9653a73a5': 'Apocalypse Now',
 '7baa788ccb84921b2f24c2e6a8e464da2d25cc5be8de3fdc7302e8a9cc51702f': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '71d0ac8a814a2b92bbccd115b2289f07f0163c015d829d484f102630e761aa6b': 'The Good, the Bad and the Ugly',
 'd33e1332e6dd4c53e8b0a3948f56320b6425a3e044e9da383578142c7afc7832': 'City Lights',
 '50075616bd1042e879301d196811e339a75002bb16a0ca9a7117e358293a3ce9': 'Spirited Away',
 '0e5bdd647d08b5444b0693ffd068725fab7d9fdaa45e12d8c8742fc8338a1782': 'Goodfellas',
 '2e45a23c2cf453e43725236b60f192c7be3832e91830cc1ff5803e102d9bf740': 'Modern Times',
 '6b56ed980fd234e4f8c39932e0800018bdd318ce5ccca1d48906c41e29dff7bb': 'M',
 'a1b3821379ba00289c4720fc51eba03ffb92b58adb3be46abc94e091c3690d8c': 'Sunset Blvd.',
 'beae21b41f92bd412db46c0b3e1562212889f2fca24144d0a28c675242018aee': "Schindler's List",
 '04e8b587fc6a98d661528d1ccf1e017488bd97dc6829a1b2473d7fd0a92bd500': 'Lawrence of Arabia',
 'c4064921f1ca8285436c7db53d7928c0cbdcc936d190d4550eda54b5892bd2f3': '12 Angry Men',
 '6c734b10414b0a9c27108710ac3f0663c3bc7f24569ceffe5e8145855c8a5598': 'Pulp Fiction',
 'e58e4f51a3400bd598bd57baabf2eafe8b71e2fbbe973659fdf4032063a7640b': 'The Godfather: Part II',
 'd91e795811791c422fade129e66bf67e2d70c16826b9d82e6477898b98497bd2': 'Seven Samurai',
 'e1981605187f330578f05ee7009371f7403a9839773e501aeb2993304f44077e': 'The Godfather'}

In [276]:
donald

,email,movie,date,rating
169,donald.trump@whitehouse.gov,Sunset Blvd.,02/06/00,5
185,donald.trump@whitehouse.gov,Casablanca,02/08/02,3
286,donald.trump@whitehouse.gov,12 Angry Men,03/07/07,1
532,donald.trump@whitehouse.gov,Psycho,05/08/02,1
656,donald.trump@whitehouse.gov,The Dark Knight,06/10/08,1
948,donald.trump@whitehouse.gov,The Godfather,09/06/01,1
987,donald.trump@whitehouse.gov,Lawrence of Arabia,09/10/06,1
1008,donald.trump@whitehouse.gov,Schindler's List,10/01/02,1
1405,donald.trump@whitehouse.gov,Spirited Away,13/06/05,4
2112,donald.trump@whitehouse.gov,Star Wars: Episode V - The Empire Strikes Back,19/06/08,2
2290,donald.trump@whitehouse.gov,The Godfather: Part II,21/03/03,1
2508,donald.trump@whitehouse.gov,Raiders of the Lost Ark,22/12/05,5
2677,donald.trump@whitehouse.gov,Singin' in the Rain,24/04/09,3
2739,donald.trump@whitehouse.gov,Modern Times,24/11/05,1
2964,donald.trump@whitehouse.gov,Seven Samurai,26/11/15,4
3074,donald.trump@whitehouse.gov,Dr. Strangelove or: How I Learned to Stop Worr...,27/10/16,1
3212,donald.trump@whitehouse.gov,Rashomon,29/01/14,3
3467,donald.trump@whitehouse.gov,Citizen Kane,31/05/03,5

In [277]:
donald = imdb_df[imdb_df['email'] == email]

anon_df['movie'] = anon_df['movie'].map(movie_mapping)
anon_users = anon_df.groupby('email')


for _, anon in anon_users:
    rec = compute_recall(anon, donald, cols=['movie'])
    if rec == 1:
        donalds_netflix_ratings = anon
        display(anon)
        break

,email,movie,date,rating
158,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Spirited Away,02/03/04,3
364,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Citizen Kane,03/11/15,2
421,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Taxi Driver,04/04/01,4
432,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Lawrence of Arabia,04/05/02,2
440,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Rashomon,04/05/13,2
698,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Double Indemnity,06/05/02,3
1090,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Seven Samurai,09/07/09,1
1108,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Raiders of the Lost Ark,09/09/04,3
1949,bc4c6439e9100e06702974474c82424d6034be566c97ad...,The Dark Knight,16/06/01,2
2047,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Singin' in the Rain,17/03/16,4
2081,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Star Wars: Episode V - The Empire Strikes Back,17/06/09,2
2113,bc4c6439e9100e06702974474c82424d6034be566c97ad...,The Godfather: Part II,17/08/16,4
2398,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Sunset Blvd.,20/01/09,3
2598,bc4c6439e9100e06702974474c82424d6034be566c97ad...,12 Angry Men,21/06/01,4
2825,bc4c6439e9100e06702974474c82424d6034be566c97ad...,The Godfather,23/02/14,1
3347,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Psycho,27/04/01,3
3473,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Dr. Strangelove or: How I Learned to Stop Worr...,28/01/15,5
3646,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Casablanca,29/05/14,4
3655,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Schindler's List,29/06/05,2
3777,bc4c6439e9100e06702974474c82424d6034be566c97ad...,Modern Times,30/06/13,2

In [284]:
import networkx as nx
import matplotlib.pyplot as plt
G = nx.Graph()
for i, anon_movie in anon_movie_stats.iterrows():
    for j, imdb_movie in imdb_movie_stats.iterrows():
        G.add_weighted_edges_from([(i * 2 + 1, j * 2,  abs(anon_movie.review_share - imdb_movie.review_share))])

matching = nx.min_weight_matching(G)
print(len(matching), len(anon_movie_stats), len(imdb_movie_stats))

48 48 48

In [281]:
print(matching)

{(48, 85), (82, 87), (84, 81), (76, 55), (6, 27), (58, 71), (47, 92), (10, 79), (2, 17), (70, 51), (78, 61), (38, 83), (68, 35), (22, 13), (77, 16), (14, 21), (32, 57), (30, 69), (40, 43), (1, 60), (24, 7), (74, 23), (33, 80), (72, 59), (42, 25), (5, 36), (37, 50), (63, 8), (0, 89), (54, 11), (44, 95), (64, 9), (4, 53), (86, 73), (20, 15), (56, 75), (46, 49), (93, 66), (52, 65), (18, 39), (34, 29), (62, 45), (94, 19), (90, 67), (12, 41), (28, 31), (26, 3), (88, 91)}

In [241]:
movie_mapping = {}
for loc_a, loc_b in matching:
    if loc_a % 2 == 1:
        loc_anon, loc_imdb = loc_a, loc_b
    else:
        loc_anon, loc_imdb = loc_b, loc_a
    loc_anon = (loc_anon - 1) // 2
    loc_imdb = loc_imdb // 2
    movie_anon = anon_movie_stats.iloc[loc_anon]['movie']
    movie_imdb = imdb_movie_stats.iloc[loc_imdb]['movie']
    movie_mapping.update({movie_anon: movie_imdb})

In [260]:
anon_df['movie'] = anon_df['movie'].map(movie_mapping)

In [250]:
anon_df

,email,movie,date,rating
0,9a79b6ab83c31005e9ba5da2130a399324cce10b1b68f8...,NaN,01/01/01,1
1,34c761434f2987204233d3a78ac1707d5dd6d378e6f212...,NaN,01/01/01,3
2,937f139cf37155ddfe5cc0633eeca2ba106a3dffe691f5...,NaN,01/01/04,3
3,d3f6050b2f787228c49a19005ddac7efb9b17d3e572f70...,NaN,01/01/08,5
4,46d3a132b87b051ad1fa548997d27bc15c972ac674cfa1...,NaN,01/01/08,3
...,...,...,...,...
3923,a39d58030473e9e6138d0bf4d8fb9a427b3446d5419864...,NaN,31/12/11,5
3924,c9b2ea86e772cab4421222f89e095476c3c0d70e76a6a3...,NaN,31/12/11,4
3925,c5d69d3c6acc55e7be59513bd834f7835e58a0e806265c...,NaN,31/12/12,4
3926,8553bfcd14e181103da368ff021af6a110f2ec5e746090...,NaN,31/12/14,1
3927,276faed93b40f7c044f00f9b7e576a0e2524ddfa0020e7...,NaN,31/12/15,4

In [261]:
donald = imdb_df[imdb_df['email'] == email]

In [262]:
donald

,email,movie,date,rating
169,donald.trump@whitehouse.gov,Sunset Blvd.,02/06/00,5
185,donald.trump@whitehouse.gov,Casablanca,02/08/02,3
286,donald.trump@whitehouse.gov,12 Angry Men,03/07/07,1
532,donald.trump@whitehouse.gov,Psycho,05/08/02,1
656,donald.trump@whitehouse.gov,The Dark Knight,06/10/08,1
948,donald.trump@whitehouse.gov,The Godfather,09/06/01,1
987,donald.trump@whitehouse.gov,Lawrence of Arabia,09/10/06,1
1008,donald.trump@whitehouse.gov,Schindler's List,10/01/02,1
1405,donald.trump@whitehouse.gov,Spirited Away,13/06/05,4
2112,donald.trump@whitehouse.gov,Star Wars: Episode V - The Empire Strikes Back,19/06/08,2
2290,donald.trump@whitehouse.gov,The Godfather: Part II,21/03/03,1
2508,donald.trump@whitehouse.gov,Raiders of the Lost Ark,22/12/05,5
2677,donald.trump@whitehouse.gov,Singin' in the Rain,24/04/09,3
2739,donald.trump@whitehouse.gov,Modern Times,24/11/05,1
2964,donald.trump@whitehouse.gov,Seven Samurai,26/11/15,4
3074,donald.trump@whitehouse.gov,Dr. Strangelove or: How I Learned to Stop Worr...,27/10/16,1
3212,donald.trump@whitehouse.gov,Rashomon,29/01/14,3
3467,donald.trump@whitehouse.gov,Citizen Kane,31/05/03,5

In [263]:
anon_users = anon_df.groupby('email')

max_rec = 0
max_group = None
for _, anon in anon_users:
    rec = compute_recall(anon, donald, cols=['rating', 'movie'])
    if rec == 1:
        max_rec = rec
        donalds_netflix_ratings = anon
        display(anon)
        break

In [278]:
sorted(donalds_netflix_ratings.movie.values), len(sorted(donalds_netflix_ratings.movie.values))

(['12 Angry Men',
  'Casablanca',
  'Citizen Kane',
  'Double Indemnity',
  'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
  'Lawrence of Arabia',
  'Modern Times',
  'Psycho',
  'Raiders of the Lost Ark',
  'Rashomon',
  "Schindler's List",
  'Seven Samurai',
  "Singin' in the Rain",
  'Spirited Away',
  'Star Wars: Episode V - The Empire Strikes Back',
  'Sunset Blvd.',
  'Taxi Driver',
  'The Dark Knight',
  'The Godfather',
  'The Godfather: Part II'],
 20)

In [279]:
answer = pd.read_csv('answers_1/hash-2.csv')
sorted(answer['bc4c6439e9100e06702974474c82424d6034be566c97ad4e12d763fae90f3d1e'].values)

['12 Angry Men',
 'Casablanca',
 'Citizen Kane',
 'Double Indemnity',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Lawrence of Arabia',
 'Modern Times',
 'Psycho',
 'Raiders of the Lost Ark',
 'Rashomon',
 "Schindler's List",
 'Seven Samurai',
 "Singin' in the Rain",
 'Spirited Away',
 'Star Wars: Episode V - The Empire Strikes Back',
 'Sunset Blvd.',
 'Taxi Driver',
 'The Dark Knight',
 'The Godfather',
 'The Godfather: Part II']

In [149]:
anon_movies = list('abcdefghijklm')
anon_freqs = np.random.rand(len(anon_movies))

imdb_movies = list('abcdefghijklm'.upper())
imdb_freqs = anon_freqs + 0.01 * np.random.rand(len(anon_movies))


sorted_idx = np.argsort(anon_freqs)
anon_freqs = np.sort(anon_freqs)

movie_candidates = {}
top_k = 5
for imdb_movie, imdb_freq in zip(imdb_movies, imdb_freqs):
    closest_freq_idx = np.argpartition(np.abs(anon_freqs - imdb_freq), kth=top_k)[:top_k]
    print(f'{imdb_freq:3f}', closest_freq_idx)
    movie_candidates[imdb_movie] = [anon_movies[sorted_idx[i]] for i in closest_freq_idx]
print(movie_candidates)

0.517302 [5 4 7 6 8]
0.257278 [3 2 1 4 0]
0.540300 [4 7 6 5 8]
0.766110 [10 11  9  8  7]
0.565120 [5 7 6 8 4]
0.620630 [6 8 7 5 9]
0.482121 [5 4 7 6 8]
0.877707 [ 9 11 12 10  8]
0.898436 [ 9 11 12 10  8]
0.981022 [ 9 11 12 10  8]
0.214003 [1 2 3 0 4]
0.042071 [0 1 2 3 4]
0.310660 [2 3 1 5 4]
{'A': ['a', 'g', 'e', 'c', 'f'], 'B': ['m', 'b', 'k', 'g', 'l'], 'C': ['g', 'e', 'c', 'a', 'f'], 'D': ['h', 'i', 'd', 'f', 'e'], 'E': ['a', 'e', 'c', 'f', 'g'], 'F': ['c', 'f', 'e', 'a', 'd'], 'G': ['a', 'g', 'e', 'c', 'f'], 'H': ['d', 'i', 'j', 'h', 'f'], 'I': ['d', 'i', 'j', 'h', 'f'], 'J': ['d', 'i', 'j', 'h', 'f'], 'K': ['k', 'b', 'm', 'l', 'g'], 'L': ['l', 'k', 'b', 'm', 'g'], 'M': ['b', 'm', 'k', 'a', 'g']}

In [127]:
mapping_candidates = get_mapping_candidates(anon_df, imdb_df)

In [152]:
list(mapping_candidates.items())[0]

('The Godfather',
 ['6c734b10414b0a9c27108710ac3f0663c3bc7f24569ceffe5e8145855c8a5598',
  'e1981605187f330578f05ee7009371f7403a9839773e501aeb2993304f44077e',
  'd91e795811791c422fade129e66bf67e2d70c16826b9d82e6477898b98497bd2',
  'e58e4f51a3400bd598bd57baabf2eafe8b71e2fbbe973659fdf4032063a7640b',
  'c4064921f1ca8285436c7db53d7928c0cbdcc936d190d4550eda54b5892bd2f3'])

In [158]:
godfather_cnt = Counter(imdb_df[imdb_df['movie'] == 'The Godfather'].rating)
print(godfather_cnt)

Counter({2: 33, 5: 31, 3: 28, 4: 27, 1: 25})

In [162]:
for movie_hash in ['6c734b10414b0a9c27108710ac3f0663c3bc7f24569ceffe5e8145855c8a5598',
                    'e1981605187f330578f05ee7009371f7403a9839773e501aeb2993304f44077e',
                    'd91e795811791c422fade129e66bf67e2d70c16826b9d82e6477898b98497bd2',
                    'e58e4f51a3400bd598bd57baabf2eafe8b71e2fbbe973659fdf4032063a7640b',
                    'c4064921f1ca8285436c7db53d7928c0cbdcc936d190d4550eda54b5892bd2f3']:
    
    print(Counter(anon_df[anon_df['movie'] == movie_hash].rating))
    print('intersection:')
    print(Counter(anon_df[anon_df['movie'] == movie_hash].rating) & godfather_cnt)
    print('sum:')
    print(sum((Counter(anon_df[anon_df['movie'] == movie_hash].rating) & godfather_cnt).values()))

Counter({5: 33, 4: 33, 1: 31, 2: 23, 3: 22})
intersection:
Counter({5: 31, 4: 27, 1: 25, 2: 23, 3: 22})
sum:
128
Counter({2: 40, 4: 35, 3: 32, 5: 23, 1: 22})
intersection:
Counter({2: 33, 3: 28, 4: 27, 5: 23, 1: 22})
sum:
133
Counter({1: 36, 5: 32, 4: 31, 2: 26, 3: 24})
intersection:
Counter({5: 31, 4: 27, 2: 26, 1: 25, 3: 24})
sum:
133
Counter({4: 40, 3: 30, 1: 28, 2: 27, 5: 21})
intersection:
Counter({3: 28, 4: 27, 2: 27, 1: 25, 5: 21})
sum:
128
Counter({1: 35, 4: 34, 2: 28, 3: 23, 5: 20})
intersection:
Counter({2: 28, 4: 27, 1: 25, 3: 23, 5: 20})
sum:
123

In [128]:
def clarify_the_candidate(mapping_candidates, anon_df, imdb_df):
    improved_mapping = {}
    for imdb_movie, candidates in mapping_candidates.items():
        curr_imdb_ratings = Counter(imdb_df[imdb_df['movie'] == imdb_movie].rating)
        max_sum, best_match = 0, None
        for anon_movie in candidates:
            curr_anon_ratings = Counter(anon_df[anon_df['movie'] == anon_movie].rating)
            intersection_sum = sum((curr_imdb_ratings & curr_anon_ratings).values())
            if intersection_sum > max_sum:
                max_len = intersection_sum
                best_match = anon_movie
        improved_mapping[anon_movie] = imdb_movie
    return improved_mapping

In [129]:
improved_candidates = clarify_the_candidate(mapping_candidates, anon_df, imdb_df)

In [130]:
anon_df['movie_name'] = anon_df['movie'].map(improved_candidates)

In [131]:
anon_users = anon_df.groupby('email')

In [132]:
donalds_data = imdb_df[imdb_df['email'] == email]

max_recall = 0
bast_user = None
for _, anon_user in anon_users:
    anons_data = {(movie, rating) for movie, rating in zip(anon_user.movie_name, anon_user.rating)}
    n_hits = 0
    for i, (movie, rating) in enumerate(zip(donalds_data.movie, donalds_data.rating)):
        if (movie, rating) in anons_data:
            n_hits += 1
    recall = n_hits / len(donalds_data)
    max_recall = max(max_recall, recall)
    if recall == max_recall:
        best_user = anon_user

display(anon_user)
print(max_recall)

,email,movie,date,rating,movie_name
411,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,8c05ffbfb538c7e868c9a9bc77d23c8a264e8869dc0a9c...,04/03/04,5,The Third Man
715,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,2e45a23c2cf453e43725236b60f192c7be3832e91830cc...,06/06/11,3,NaN
835,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,5a2c7e0871822485e0c7b5098504cfe4a8b481512b8319...,07/05/10,1,NaN
885,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,c4064921f1ca8285436c7db53d7928c0cbdcc936d190d4...,07/10/12,1,M
946,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,c96e7ced7eae6cfa323dc6988f015227ae7cd085817c77...,08/04/12,1,The Shawshank Redemption
1009,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,550bb5d9e51c4763697a259174547bb2aad073229578fa...,08/12/02,3,Psycho
1049,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,7e3d9904a79d1c1b093653da62cb8355317c98dc7dd958...,09/04/01,3,NaN
1175,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,6c734b10414b0a9c27108710ac3f0663c3bc7f24569cef...,10/04/12,3,Lawrence of Arabia
1741,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,86086423970cd6189e26b721047b915796ff7911001a0c...,14/08/12,2,NaN
1764,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,229d0263028ec78469fbfd1f82d875b9d39fa25c415da1...,14/10/08,5,One Flew Over the Cuckoo's Nest
1805,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,e58e4f51a3400bd598bd57baabf2eafe8b71e2fbbe9736...,15/02/08,2,NaN
1957,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,7d7bde2b4de41bfc00566677c7c6b2dc32232f9a26b282...,16/06/16,5,NaN
2031,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,d33e1332e6dd4c53e8b0a3948f56320b6425a3e044e9da...,17/02/02,1,NaN
2098,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,d3624def3ed8f49868cfdde6bf12c5c9afb831b2f302c8...,17/07/15,5,NaN
2949,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,aa4a601effdceedc15f46512d54c63a2713f1f8506e3ae...,24/03/13,4,The 400 Blows
2953,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,7baa788ccb84921b2f24c2e6a8e464da2d25cc5be8de3f...,24/04/04,3,NaN
2956,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,e1981605187f330578f05ee7009371f7403a9839773e50...,24/04/12,4,NaN
3364,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,b7123f0d5a76079033bb417de6d9bc4efbc077dd9f1d58...,27/05/10,1,Chinatown
3680,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,d26a39a3aa01e0f50657a0d8b3ceb7b1fbb80c0f420ae2...,29/08/13,3,Metropolis
3694,feacfff7b9313ec213d9bc3e6638e300d736e4e794be46...,fb2eca1e68c4cb64caf4c0b80a3512b3172905d6764e7a...,29/09/14,2,NaN

0.16666666666666666